body {
  margin: 0;
  background: #f5f5dc;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.remote video, #placeholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remote video { display: none; }

.local {
  position: absolute;
  bottom: 80px;
  right: 10px;
  width: 110px;
  height: 150px;
}

.local video {
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
}

/* LEFT BUTTONS */
.controls-left {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* RIGHT BUTTONS */
.controls-right {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

button {
  display: block;
  margin: 10px;
  padding: 12px;
  border-radius: 10px;
}

/* SEARCH */
#searching {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  display: none;
}
