body {
  margin: 0;
  background: #f5f5dc;
  font-family: Arial;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* REMOTE */
.remote video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

/* LOCAL */
.local {
  position: absolute;
  bottom: 80px;
  right: 10px;
  width: 120px;
  height: 160px;
  z-index: 10;
}

.local video {
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
}

/* SWAP MODE */
.fullscreen {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  z-index: 1;
}

.small {
  width: 120px !important;
  height: 160px !important;
  bottom: 80px;
  right: 10px;
  position: absolute;
  z-index: 10;
}

/* BUTTONS */
.controls-left, .controls-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.controls-left { left: 10px; }
.controls-right { right: 10px; }

button {
  display: block;
  margin: 10px;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
}

#startBtn { background: #22c55e; }
#stopBtn { background: #ef4444; }
#nextBtn { background: #facc15; color: black; }
#filterBtn { background: #ec4899; }
#cameraBtn { background: white; color: black; }

/* SEARCH LOADER */
#searching {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid black;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}
